/**
 * mclibre_php_soluciones_proyectos_comun.css
 * 
 * @author    Bartolomé Sintes Marco <bartolome.sintes+mclibre@gmail.com>
 * @copyright 2009 Bartolomé Sintes Marco
 * @license   http://www.gnu.org/licenses/agpl.txt AGPL 3 or later
 * @version   2009-05-21
 * @link      http://www.mclibre.org
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Esta parte de la hoja de estilo es común a todos los proyectos */

html, body { 
  background-color: #FDF0D9; 
  color: black; 
  font-family: sans-serif;
  margin: 0px; 
  padding: 0px; 
}

h1 { 
  background-color: #EDA87D; 
  color: white; 
  text-transform: uppercase; 
  margin: 0px; 
  padding: 5px;
}

div#menu { 
  background-color: #F2BA5F; 
  color: white; 
  margin: 0px; 
}

div#menu ul { 
  list-style-type: none; 
  margin: 0px 5px; 
  padding: 5px; 
}

div#menu li { 
  display: inline; 
  padding: 0px 15px;
}

div#menu a { 
  background-color: #F2BA5F; 
  color: white; 
  font-weight: bold; 
}

div#contenido { 
  padding: 10px; 
}

img { 
  border: none; 
}

tr.neg { 
  background-color: #F9DDAE; 
  color: black; 
}

td, th { 
  padding-left: 5px; 
  padding-right: 5px; 
}

div#pie {
  border-top: black solid 1px;
  clear: both;
  margin: 50px 20px 0px;
  padding: 5px 0px 0px;
}

input {
    font-family: monospace;
}

/* Esta parte de la hoja de estilo es específica de este proyecto */