{% extends "base.html" %}

{% block title %}Registro de usuarios{% endblock %}

{% block content %}
	{%if session.user %}
 <a href="logout.php">Logout</a>
    {% endif %}
  <h2>Registro de usuarios</h2>
  <p>{{ "now"|date("d M Y h:i")  }} <br/></p>
  <p>Hola, {{ nombre }}</p>
  
  <p>Gracias por su registro. Sus datos son los siguientes: </p>
  
  <p style="margin-left: 10px">
  Username: {{ usuario }} <br/>
  Password: {{ password }}
  </p>
  
  <p>Más info acerca del uso, bla, bla, bla</p>
 
 {% endblock %}